<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-4">
    <form (submit)="guardarHorario()" class="mt-3">
        <img class="profile-image" src="../../../assets/ferrovial.jpg" alt="Profile Image">
        <div class="row mb-3">
            <div class="col">
                <label for="diasSemana" class="form-label">Días de la semana:</label>
                <input type="date" id="diasSemana" name="diasSemana" [(ngModel)]="nuevoHorario.dias_semana" class="form-control" required>
            </div>
            <div class="col">
                <label for="horaSalida" class="form-label">Hora de salida:</label>
                <input type="time" id="horaSalida" name="horaSalida" [(ngModel)]="nuevoHorario.hora_salida" class="form-control" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="horaLlegada" class="form-label">Hora de llegada:</label>
                <input type="time" id="horaLlegada" name="horaLlegada" [(ngModel)]="nuevoHorario.hora_llegada" class="form-control" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="selectRuta" class="form-label">Seleccionar Ruta:</label>
                <select [(ngModel)]="idRuta" name="id_ruta" class="form-select" id="selectRuta" required>
                    <option *ngFor="let ruta of rutas" [value]="ruta.id_ruta">{{ ruta.descripcion }}</option>
                </select>
            </div>
            <div class="col">
                <label for="selectTren" class="form-label">Seleccionar Tren:</label>
                <select [(ngModel)]="idTren" name="id_tren" class="form-select" id="selectTren" required>
                    <option *ngFor="let tren of trenes" [value]="tren.id_tren">{{ tren.modelo_tren }}</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"><span>Agregar Horario</span></button>
    </form>
</div>
  
</body>
</html>