<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

   <form (submit)="actualizarEstacion(estacion.id_estacion)" class="mt-3">

    <img class="profile-image" src="../../../assets/ferrovial.jpg" alt="Profile Image">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="nombreEstacion" class="form-label">Nombre</label>
                            <input [(ngModel)]="estacion.nombre_estacion" name="nombre_estacion" type="text" class="form-control" id="nombreEstacion" required>
                        </div>
                        <div class="col">
                            <label for="ubicacionEstacion" class="form-label">Ubicación</label>
                            <input [(ngModel)]="estacion.ubicacion_estacion" name="ubicacion_estacion" type="text" class="form-control" id="ubicacionEstacion" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="plataformasEstacion" class="form-label">Plataforma</label>
                            <input [(ngModel)]="estacion.plataformas_estacion" name="plataformas_estacion" type="text" class="form-control" id="plataformasEstacion" required>
                        </div>
                        <!-- <div class="col">
                            <label for="estacionOrigen" class="form-label">Estación Origen:</label>
                            <input [(ngModel)]="estacion.estacion_origen" name="estacion_origen" type="text" class="form-control" id="estacionOrigen" required>
                        </div> -->
                        <div class="col">
                          <label for="estacionOrigen" class="form-label">Estación Origen</label>
                          <select class="form-control" id="frutas" name="frutas" [(ngModel)]="estacion.estacion_origen" required>
                            <option value="Av.Chone">Avenida Chone</option>
                            <option value="Av.Quito">Avenida Quito</option>
                            <option value="Av.Loja">Avenida Loja</option>
                          </select>
                  
                        </div>
                    </div>

                    <!-- <div class="row mb-3">
                        <div class="col">
                            <label for="estacionDestino" class="form-label">Estación Destino:</label>
                            <input [(ngModel)]="estacion.estacion_destino" name="estacion_destino" type="text" class="form-control" id="estacionDestino" required>
                        </div>
                    </div> -->
                    <div class="row mb-3">
                      <div class="col">
                        <label for="estacionDestino" class="form-label">Estación Destino</label>
                        <div class="col">
                          <select class="form-control" id="estacionDestino" name="estacion_destino" [(ngModel)]="estacion.estacion_destino" required>
                            <option value="Av.Chone">Avenida Chone</option>
                            <option value="Av.Quito">Avenida Quito</option>
                            <option value="Av.Loja">Avenida Loja</option>
                          </select>
                
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="actualizarEstacion(estacion.id_estacion)"><span>Actualizar</span> </button>
                </form>
</body>
</html>